* {margin: 0; padding: 0;}
header {background-color: lightblue; padding: .5em 1em;}
div.login-info {float: right;}
nav {
    background-color: lightcoral;
    width: 12em;
    float: left;
    box-sizing: border-box;
}
main {background-color: lightseagreen; margin-left: 12em;}
footer {background-color: lightgray; clear: both;}

nav, main, footer {padding: .3em .5em;}

menu {list-style-type: none;}
menu a {
    display: block;
    padding: .2em .5em;
    background-color: lightsalmon;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: normal;
}
menu a:hover {font-weight: bold;}

menu li {margin: .5em;}