* { margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; color: white;}

header {
    background-color: #101019;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 1em;
    place-items: center;
    text-align: center;
    z-index: 1000;
}
head, body, html {
    background-color: #15151F;
    color: white;
}
main {
    padding: 1rem;
}

body > div {
    height: fit-content;
    min-height: 100dvh;
}

/**/
/* Navigation bar */
/**/
nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #15151F;
    padding: 0.5em 1em 0 0.5em;
    z-index: 999;
    border-bottom: 1px solid #303037;
}
nav span.login-info {
    float: right;
    margin: 0;
    margin-left: auto;
    padding: 0;
    border: none;
    margin-top: 0.5em;
}
nav span.login-info:hover {
    border: none;
}
nav span {
    margin: 1em 1em 0 1em;
    padding-bottom: 1em;
    border-bottom: #15151F 2px solid;
}
nav span:hover {
    border-bottom: white 2px solid;
}
nav span a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}
.selected-nav {
    border-bottom: red 2px solid;
    font-weight: bold;
}
nav span.selected-nav:hover {
    border-bottom: red 2px solid;
}
.hamburger-check {
    display: none;
    cursor: pointer;
}

/**/
/* Login Page */
/**/

main.login-main {
    background-color: transparent;
    place-items: center;
    margin: 0;
    padding: 0;
}
div.login-container {
    background-color: transparent;
    place-items: center;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding-top: 2em;
    padding-bottom: 3em;
    border-radius: .5em;
}
div.login-square {
    background-color: #101019;
    place-items: center;
    display: grid;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 3em;
    border-radius: .5em;
    border: 1px solid #303037;
}
div.login {
    background-color: transparent;
    margin-left: 0;
    display: grid;
    place-items: center;
}
input.email-text, input.password-text {
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #33333D;
    background-color: #0d0d14;
    color: white;
}
.login-heading {
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    background-color: #101019;
    border-radius: 0.5rem;
    width: 25rem;
    text-align: center;
    border: 1px solid #303037;
}
.login-button {
    margin-top: 2rem;
}
.login-main h2 {
    margin-top: 1rem;
}
header.login-header {
    display: flex;
    place-content: left;
}

/**/
/* Other Styles */
/**/
footer {
    clear: both;
    background-color: #101019;
    text-align: center;
    padding: 1.5em;
    z-index: 1000;
    width: 100%;
}
footer.fixed {
    position: absolute;
    bottom: 0;
    left: 0;
}
.back-to-home {
    float: left;
    margin-left: 1em;
}

ul {
    list-style-type: none;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 2;
}
ul.skills-list {
    padding-left: 2rem;
}
ul.skills-list li {
    margin-bottom: 0.75rem;
}
.button {
    font-weight: normal;
    text-decoration: none;
    padding: 0.4em 0.8em;
    border-radius: 1em;
    text-align: center;
    display: block;
    background-color: black;
}
.button:hover {
    background-color: #222222;
}

.shadow {
    box-shadow: black 0.1rem 0.1rem 0.5rem;
}

div.hobby-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

div.hobby-list section {
    width: 20%;
}

div.ome-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas: 
    "box1 box3"
    "box2 box3";
}

/**/
/* Sections on a Page */
/**/
section {
    padding: 2.5rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #101019;
    border: solid 1px #303037;
}
section:hover {
    border-color: red;
}
section.left-section {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
}
section.right-section {
    float: right;
    margin-right: auto;
    margin-left: auto;
    width: 49%;
}
section.horizontal-section {
    width: auto;
}
section h2, section h3 {
    margin-bottom: 1rem;
    text-align: center;
}
section p {
    padding: 0.5rem;
    text-align: center;
    line-height: 1.6;
}
dl {
    border-left: 1px solid #303037;
    padding-left: 1rem;
    width: fit-content;
}
dl dt {
    font-weight: bold;
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-size: 1rem;
}
dl dd {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}
img {
    border-radius: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    width: 99%;
    aspect-ratio: 5 / 3;
    object-fit: cover;
}
img.cs-image {
    aspect-ratio: 5 / 2;
}

/**/
/* Responsive Design
/**/
@media (max-width: 1024px) {
    section.left-section, section.right-section {
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
@media (max-width: 768px) {
    header h1 {
        text-align: center;
        padding: 0.5em;
        margin: 0;
        /*display: none;*/
    }
    header {
        height: 5rem;
    }
    main {
        margin-left: 0;
        padding: 1em;
        padding-bottom: 5em;
    }
    footer.fixed {
        position: relative;
        width: 100%;
    }
    footer.fixed.fixed-phone {
        position: absolute;
        bottom: 0;
    }
    
    div.login-square, .login-heading, div.login-container {
        width: 80%;
        margin-top: 2em;
    }
    div.login-container {
        width: 90%;
    }
    div.hobby-list {
        flex-direction: column;
        gap: 0;
    }
    div.hobby-list section {
        width: 100%;
    }
    h1 {
        font-size: 1.5rem;
        max-width: 80%;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
    }
    nav {
        flex-direction: column;
        align-items: center;
        position: relative;
        display: none;
    }
    nav span {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }
    nav span.login-info {
        float: none;
        text-align: center;
        margin: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
    label.hamburger-check {
        display: block;
        float: right;
        font-size: 2rem;
        padding-top: 0rem;
        margin-top: 0;
    }
    input.hamburger-check:checked ~ nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 5rem;
        z-index: 999;
        width: 100%;
    }
    .login-button {
        padding: 0.6em 1.2em;
        width: 60%;
    }
    section.left-section, section.right-section, section.horizontal-section, section {
        width: 100%;
        padding: 0.3rem;
        padding-top: 1rem;
        padding-bottom: 0.4rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.4rem;
        margin-bottom: 1rem;
        float: none;
    }
    section section:last-child {
        margin-bottom: -0.1rem;
    }
    dl dt {
        font-size: 1rem;
    }
    dl dd {
        font-size: 1rem;
        margin-left: 0.5rem;
    }
    img {
        width: 99%;
        float: none;
        margin-top: 1rem;
        margin-bottom: 0rem;
        display: block;
    }
    ul.skills-list {
        padding-left: 1rem;
        margin-left: 0rem;
    }
    ul.skills-list li {
        margin-bottom: 1rem;
    }
    ul.skills-list li:last-child {
        margin-bottom: 0rem;
    }

    div.ome-main {
        display: block;
    }
}