* { margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; color: white;}
header {
    background-color: #101019;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 1em;
    place-items: center;
    z-index: 1000;
}
head, body, html {
    background-color: #15151F;
    color: white;
}
main {
    padding: 2em;
}

/**/
/* Navigation bar */
/**/
nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #15151F;
    padding: 0.5em 1em 0 0.5em;
    z-index: 999;
    border-bottom: 1px solid #303037;
}
nav span {
    margin: 1em 1em 0 1em;
    padding-bottom: 1em;
    border-bottom: #15151F 2px solid;
}
nav span:hover {
    border-bottom: white 2px solid;
}
nav span a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}
.selected-nav {
    border-bottom: red 2px solid;
    font-weight: bold;
}
nav span.selected-nav:hover {
    border-bottom: red 2px solid;
}

/**/
/* Login Page */
/**/

main.login-main {
    background-color: transparent;
    place-items: center;
    margin: 0;
    padding: 0;
}
div.login-container {
    background-color: transparent;
    place-items: center;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding-top: 2em;
    padding-bottom: 3em;
    border-radius: .5em;
}
div.login-square{
    background-color: #101019;
    place-items: center;
    display: grid;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 3em;
    border-radius: .5em;
}
div.login {
    background-color: transparent;
    margin-left: 0;
    display: grid;
    place-items: center;
}
input.email-text, input.password-text {
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    border: solid 1px #33333D;
    background-color: #0d0d14;
    color: white;
}
.login-heading {
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    background-color: #101019;
    border-radius: 0.5rem;
    width: 25rem;
    text-align: center;
}
.back-to-home {
    float: left;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
}
.login-button {
    margin-top: 2rem;
}

/**/
/* Other Styles */
/**/
footer {
    clear: both;
    background-color: #101019;
    text-align: center;
    padding: 1.5em;
    position: absolute;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

div.login-info {
    float: right;
}

.back-to-home {
    float: left;
    margin-left: 1em;
}

h2 {
    margin-top: 1rem;
}

.button {
    font-weight: normal;
    text-decoration: none;
    padding: 0.4em 0.8em;
    border-radius: 1em;
    text-align: center;
    box-sizing: border-box;
    display: block;
    background-color: black;
}
.button:hover {
    background-color: #222222;
}

.shadow {
    box-shadow: black 0.1rem 0.1rem 0.5rem;
}

@media (max-width: 768px) {
    header {
        text-align: center;
        padding: 1em;
    }
    main {
        margin-left: 0;
        padding: 1em;
        padding-bottom: 5em;
    }
    div.login-square, .login-heading, div.login-container {
        width: 80%;
        margin-top: 2em;
    }
    h1 {
        font-size: 1.5rem;
    }
}