head, body, html {
    padding: 0;
    margin: 0;
    background-color: #333333;
    color: white;
}
nav menu {
    float: left;
    background-color: #555555;
    color: white;
    padding: 1em 2em;
    list-style-type: none;
    width: 20em;
}
menu li {
    margin: 0.75em;
    width: 75%;
    box-sizing: border-box;
}
menu a {
    font-weight: normal;
    text-decoration: none;
    margin: 2em 2em;
    padding: 0.2em 0.5em;
    border: 2px solid black;
    border-radius: 0.5em;
    text-align: center;
    color: white;
    box-sizing: border-box;
}
main {
    margin-left: 20em;
    background-color: red;
}
footer {
    clear: both;
    background-color: blue;
}