* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #444444;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 1em;
    place-items: center;
    z-index: 1000;
}
head, body, html {
    padding: 0;
    margin: 0;
    background-color: #333333;
    color: white;
}
nav menu {
    float: left;
    background-color: #555555;
    color: white;
    padding: 1em 2em;
    list-style-type: none;
    width: 15em;
}
nav {
    position: sticky;
    top: 0;
}
menu li {
    margin: 0.5em;
    box-sizing: border-box;
}
menu a {
    font-weight: normal;
    text-decoration: none;
    margin: 2em 0.2em;
    padding: 0.2em 0.5em;
    border: 2px solid #222222;
    border-radius: 0.5em;
    text-align: center;
    color: white;
    box-sizing: border-box;
    display: block;
}
menu a:hover {
    font-weight: bold;
    background-color: #777777;
}
main {
    margin-left: 15em;
    padding: 2em;
}
main.login-main {
    background-color: transparent;
    place-items: center;
    margin: 0;
    padding: 0;
}
div.login-container {
    background-color: transparent;
    place-items: center;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding-top: 2em;
    padding-bottom: 3em;
    border-radius: .5em;
}
div.login-square{
    background-color: #444444;
    place-items: center;
    display: grid;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 3em;
    border-radius: .5em;
}
div.login {
    background-color: transparent;
    margin-left: 0;
    display: grid;
    place-items: center;
}
footer {
    clear: both;
    background-color: #444444;
    text-align: center;
    padding: 1.5em;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 100%;
}

div.login-info {
    float: right;
}

div.back-to-home {
    float: left;
    margin-left: 1em;
}

input.email-text, input.password-text {
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 2px solid #222222;
    background-color: #555555;
    color: white;
}

.button {
    font-weight: normal;
    text-decoration: none;
    margin: 2em 0.2em;
    padding: 0.2em 0.5em;
    border: 2px solid #222222;
    border-radius: 0.5em;
    text-align: center;
    color: white;
    box-sizing: border-box;
    display: block;
    background-color: #333333;
}
.button:hover {
    font-weight: bold;
    background-color: #777777;
}
.login-heading {
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    background-color: #444444;
    border-radius: 0.5rem;
    width: 25rem;
    text-align: center;
}

.back-to-home {
    float: left;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
}
.shadow {
    box-shadow: black 0.2rem 0.2rem 0.5rem;
}